
body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color:#1d1717;
    background: linear-gradient(to bottom, #cccccc 5%, #4aaaa5 10%, rgba(5, 8, 10, 0.1) 40%);
    line-height: 27px;
    
}

#container{
    width:960px;
    margin: auto;
}

section{
    border: 1px solid black;
    width: 610px;
    height: 100%;
    margin-right: 10px;
    margin-top: 40px;   
}
aside{
    border: 1px solid black;
    width: 270px;
    height: 160px;
    margin-top: 40px;
}
header{
    float:left;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    background: #4aaaa5;
    border: 1px solid #cccccc;
    height: 60px;
    padding: 10px 30px 10px 30px;
}

nav{
    float: right;
    padding: 15px 20px 15px 10px;
    margin: 10px 20px 10px 10px;
    font-size: 20px;
}
nav a:hover{
    color: #5e7f7e;
    background-color: #ffffff;
}
.social:hover{
    cursor: pointer;
    opacity: 0.8;
}

.clearfix::after{
    content: "";
    display: inline-block;
    clear: both;
}

.clear{
    display: inline-block;
    clear: both;
}

section{
    float:left;
    border:1px solid #cccccc;
    padding: 10px 10px 10px 10px;
    height: 600px;
    font-size: 18px;
}
.title{
    padding: 0 15px 0 15px;
    text-align: left;
    color: white;
}
.content{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    margin: 25px 0 10px 0;
}
aside{
    float: left;
    border:1px solid #cccccc;
    padding: 15px 10px 10px 10px;
}
.icon{
	display: inline;
    color: white;
    font-size: 20px;
    padding: 30px 15px 10px 25px;
    font-weight: bold;
}
img{
    margin:20px 15px 20px 15px;
}


footer{
    margin: 10px auto -5px auto;
    padding: 5px 10px 5px 10px;
    text-align: center;
    color:#ffffff;
    position: absolute;;
    bottom: 0;
    background: #360404;
    margin: auto;
    height: 50px;
    clear: both;
    width: 100%;
}

#pandazoo{
    max-height: 300px;
    overflow: hidden;
    margin: 0 30px 0 30px;
    position: relative;    
    display: inline-block;
    float: left;
}

#pandazoo h3{
    position: absolute;
    top: 20px;
    left: 30px;
    width: 100%;
    margin: 0;
    color: blue;
}

#spicy{
    max-height: 300px;
    overflow: hidden;
    margin:0 30px 0 30px;
    position: relative;
    display: inline-block;
    float: left;
}

#spicy h3{
    position: absolute;
    top: 0px;
    left: 30px;
    width: 100%;
    color:silver;
}

#panda{
    max-height: 300px;
    overflow: hidden;
    margin: 10px 30px 10px 30px;
    position: relative;
    display: inline-block;
    float: left;
}

#panda h3{
    position: absolute;
    top: 0px;
    left: 30px;
    width: 100%;
    color:black;
}

#food p{
    position: relative;
    display: inline-block;
    float: left;
    color: black;
    text-align: center;
    margin: 10px 30px 10px 30px;
    left: 30px;
}

#cat{
    max-height: 300px;
    display: inline-block;
    float: left;
    margin: 10px 30px 10px 30px;
}
#cat p{
    position: absolute;
    font-style: italic;
    font-weight: bold;
    color: red;
}
@media screen and (max-width: 980px){
    body{
        background: #cccccc;
    }
    #container {
        float: left;
        width: 100%;
    }
    asider{
        float: left;
        width:100%;
        margin-top:20px;
    }
    footer{
        position: relative;
    }
}
@media screen and (max-width: 768px){
    body{
        background: #cccccc;
    }
    #container {
        float: left;
        width: 100%;
        
    }
    aside{
        float: left;
        width:100%;
        margin-top:20px;
        
    }
    footer{
        position: relative;
    }
}
@media screen and (max-width:640ox){
    body{
        background: #cccccc;
    }
    header{
        position: static;
    }
    #container {
        float: left;
        width: 100%;
        
    }
    aside{
        float: left;
        width:100%;
        margin-top:20px;
        
    }
    footer{
        position: relative;
    }

}
@media screen and (max-width: 320px){
    body{
        background: #cccccc;
    }
    #container {
        float: left;
        width: 100%;
        
    }
    aside{
        float: left;
        width:100%;
        margin-top:20px;
        
    }
    footer{
        position: relative;
    }
}







